@import "../../../scss/variables";

@import "../../../scss/mixins";

%label {
  font-weight: 500;
  font-size: 1.2rem;
  color: #595c61;
  margin-bottom: 1rem;
}
%error-span {
  margin-top: 5px;
  font-size: 1.1rem;
  color: red;
}
.primarySelectField,
.primaryTextAreaField,
.primaryInputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  label {
    @extend %label;
  }
  textarea,
  select,
  input {
    border: 1px solid hsla(215, 82%, 46%, 0.366);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    box-shadow: 0 0 1px #696f79;
    font-family: inherit;

    &:focus {
      border-color: rgba(0, 0, 0, 0.689);
    }
  }

  select:disabled,
  input:read-only {
    cursor: not-allowed;
  }
  & > span {
    @extend %error-span;
  }
}

.primaryTextAreaField {
  textarea {
    height: 40rem;
  }
}

.primaryVariableSelectorField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  label {
    @extend %label;
  }

  p:nth-of-type(1) {
    // input and button
    display: flex;
    margin-bottom: 1rem;
    column-gap: 1rem;
    input {
      border: 1px solid hsla(215, 82%, 46%, 0.366);
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      font-size: 1.2rem;
      box-shadow: 0 0 1px #696f79;
      font-family: inherit;
      flex: 1;

      &:focus {
        border-color: rgba(0, 0, 0, 0.689);
      }
    }
    button {
      // add button
      background-color: $c-darkest-blue;
      border-radius: 0.4rem;
      color: #fff;
      width: 10rem;
      cursor: pointer;
      &:hover,
      &:focus {
        border: 1px solid $c-darkest-blue;
        background: transparent;
        color: $c-darkest-blue;
      }
    }
  }
  p:nth-of-type(2) {
    // added values p
    display: flex;
    gap: 0.5rem;
    button {
      border: 1px solid rgba($c-darkest-blue, 0.2);
      padding: 0.2rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover,
      &:focus {
        background: rgba($c-darkest-blue, 0.2);
      }
    }
  }
}

// file input field
.primaryMultipleImagesField {
  label {
    @extend %label;
  }
  & > span {
    // error span
    @extend %error-span;
  }
  p:nth-of-type(1) {
    // input container
    margin-top: 1rem;
    height: 10rem;
    border: 2px dotted $c-darkest-blue;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      display: none;
    }
    span {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    button {
      padding: 0.7rem 1.5rem;
      border-radius: 1rem;
      background-color: rgba($c-darkest-blue, 1);
      cursor: pointer;
      color: #fff;
    }
  }
  p:nth-of-type(2) {
    // image preview header
    @extend %label;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  p:nth-of-type(3) {
    // image preview container
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;

    img {
      width: 15rem;
      height: 15rem;
      // box-shadow: 0 0 2rem solid rgba($c-darkest-blue, 0.2);
      border: 1px solid rgba($c-darkest-blue, 0.2);
    }
  }
}
